body { margin:0; padding:0; }

#ctMap { position:absolute; top:0; bottom:0; width:100%; }

#infoPanel {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}

#ctDestinations {
    display: block;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 10px;
    width: 260px;
    z-index: 9;
}