body { margin:0; padding:0; }
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/tile-texture-256.jpg);
    z-index: 10;
    font-size: 5em;
    /*text-align: center;*/
    font-family: 'Russo One', sans-serif;
}
#splashscreen .loading {
    background: url(/assets/images/yellow_stripes2_400.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 45%;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    -webkit-text-stroke: 2px black;
}
#splashscreen .loading:after {
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 5px 5px 5px #000;
    top: 0;
    z-index: -1;
    width: 800px;
    text-align: center;
}
#splashscreen .loaded {
    display: block;
}

#ctMap { position:absolute; top:0; bottom:0; width:100%; }
#infoPanel {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}
#ctScoreboard {
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 40vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
#ctScoreboard input[type=submit] {
    margin: 10px auto;
    width: 100px;
    padding: 5px;
}
#ctScoreboard input[type=text] {
    border: none;
    border-bottom: 4px solid red;
    width: 3ch;
    font-size: 2em;
    color: red;
}

#ctHighscores {
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 20vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#ctHighscores table {
    width: 100%;
    border-collapse: collapse;
}
#ctHighscores table th,
#ctHighscores table td {
    border: 1px solid black;
    padding: 5px;
}

#ctHowto {
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 20vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-height: 50vh;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

#ctMapNextLevel {
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 20vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vh;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

#menu {
    display: block;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 10px;
    width: 100px;
    z-index: 9;
}
#menu li {
    list-style: none;
    cursor: pointer;
    border-left: 2px solid green;
    padding-left: 5px;
    margin-bottom: 4px;
}
#menu li:hover {
    border-left: 2px solid blue;
    color: blue;
}